.background--none {
  background: none;
}

.backgroundColor--white {
  background-color: #ffffff;
}

.backgroundColor--black {
  background-color: #000000;
}

.backgroundRepeat--noRepeat {
  background-repeat: no-repeat;
}
