.padding--0 {
  padding: 0;
}

.padding--1em {
  padding: 1em;
}

.paddingTop--02em {
  padding-top: 0.2em;
}

.paddingRight--02em {
  padding-right: 0.2em;
}

.paddingBottom--02em {
  padding-bottom: 0.2em;
}

.paddingLeft--02em {
  padding-left: 0.2em;
}

.paddingTop--0 {
  padding-top: 0;
}

.paddingTop--1em {
  padding-top: 1em;
}

.paddingRight--1em {
  padding-right: 1em;
}

.paddingBottom--1em {
  padding-bottom: 1em;
}

.paddingLeft--1em {
  padding-left: 1em;
}

.paddingLeft--05em {
  padding-left: 0.5em;
}

.paddingTop--08em {
  padding-top: 0.8em;
}
