.header {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  background-color: white;
  border-bottom: 0.2em solid white;
  min-width: 20em;
  width: 100%;
  -webkit-box-shadow: 0 0.1875em 0.3125em rgba(57, 63, 72, 0.3);;
  -moz-box-shadow: 0 0.1875em 0.3125em rgba(57, 63, 72, 0.3);;
  box-shadow: 0 0.1875em 0.3125em rgba(57, 63, 72, 0.3);;

  .title {
    position: absolute;
    top: 1em;
    left: 5%;
    text-align: center;

    svg {
      width: 10em;
    }
  }
}
