.information {
  position: absolute;
  top: 50%;
  left: 45%;
  transition: translate(-50%, -50%);
  z-index: 1000000;
  width: 35em;
  background-color: white;
  margin-top: 1em;
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.7em;
  -webkit-box-shadow: 4px 13px 30px 6px rgba(0,0,0,0.34);
  -moz-box-shadow: 4px 13px 30px 6px rgba(0,0,0,0.34);
  box-shadow: 4px 13px 30px 6px rgba(0,0,0,0.34);
}

.headline {
  font-weight: 600;
  font-size: 1.2em;
  color: #ff5200;
}

.closeButton {
  float: right;
  cursor: pointer;
}
