.information {
  position: absolute;
  left: 45%;
  transition: translate(-50%, -50%);
  z-index: 1000000;
  width: 35em;
  background-color: white;
  margin-top: 1em;
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.7em;
  -webkit-box-shadow: 4px 13px 30px 6px rgba(0,0,0,0.34);
  -moz-box-shadow: 4px 13px 30px 6px rgba(0,0,0,0.34);
  box-shadow: 4px 13px 30px 6px rgba(0,0,0,0.34);
  @media (max-width: 768px) {
    left: 0;
    bottom: 1.5em;
    right: 0;
    width: 100%;
    border-radius: 0;
    padding-bottom: 1em;
  }
  @media (min-width: 768px) {
    top: 50%;
  }
}

.headline {
  font-weight: 600;
  font-size: 1.2em;
  color: #ff5200;
}

.closeButton {
  float: right;
  cursor: pointer;
}

.setMarkerButton {
  float: right;
  box-shadow: none;
  outline: none;
  background-color: #FF5200;
  font-size: 1em;
  border: 2px solid #FF5200;
  padding: 1em;
  color: white;
  border-radius: 5px;
  margin-bottom: 1em;
  font-weight: 600;
}
